<section>
    <h2>О нас:</h2>
    <p>Попробуйте первыми игровой опыт нового поколения заказав в аренду Playstation 5 в Минске!</p>
    <hr>
    <ul>
        <li>Мы поможем Вам с выбором игр, которые будут идти в комплекте с PlayStation 5, а также при заказе от 3 суток приобретем игру, которая Вам интересна, если её нет у нас в библиотеке!</li>
        <li>Примем предложения по улучшению наших услуг.</li>
        <li>Мы работаем уже около года и всегда готовы радовать Вас в день, когда Вы хотите отдохнуть дома одни,  или же провести его в приятной для Вас компании с PlayStation!</li>
    </ul>
    <hr>
</section>
<section>
    <h2>Как проходит аренда Playstation 5 у нас!</h2>
    <hr>
    <ul>
        <li>Вы звоните нам или оставляете заявку на сайте, предварительно выбрав тариф аренды ps 5 на сутки, на трое суток или на неделю;</li>
        <li>Мы принимаем Ваш заказ и договариваемся с Вами о дате, времени, а также играх, в которые Вы бы хотели поиграть;</li>
        <li>Если вы не определились с играми, то мы обязательно поможем вам выбрать как новые тайтлы на PlayStation 5, так и старые (PlayStation 4), чтобы Ваше время прошло с максимальным комфортом и удовольствием;</li>
        <li>Заключаем с вами договор на прокат (аренду) PlayStation 5 (для этого нужен будет Ваш паспорт) и подключаем у Вас дома игровую консоль (если Вы у нас не в первый раз — возможен самовывоз)</li>
        <li>В течение периода проката Sony PlayStation 5 мы консультируем Вас и всегда рады помочь Вам разобраться в вопросах которые могут Вас беспокоить;</li>
        <li>По окончанию периода аренды Playstation 5 мы приезжаем к Вам (если вы не захотите продлить период аренды) и забираем оборудование!</li>
    </ul>
    <hr>
</section>