<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a href="index.html" id="logo">Game For Mood</a></h1>
                    <nav id="nav">
                        <a href="index.html">Главная</a>
                        <a href="twocolumn1.html">Игры</a>
                        <a href="twocolumn2.html" class="current-page-item">Цены</a>
                        <a href="onecolumn.html">О нас</a>
                        <a href="threecolumn.html">Контакты</a>
                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>