@*<div class="col-4 col-12-medium">

        <section>
            <h2>who are you guys?</h2>
            <ul class="small-image-list">
                <li>
                    <a href="#"><img src="images/pic2.jpg" alt="" class="left" /></a>
                    <h4>jane anderson</h4>
                    <p>varius nibh. suspendisse vitae magna eget et amet mollis justo facilisis amet quis.</p>
                </li>
                <li>
                    <a href="#"><img src="images/pic1.jpg" alt="" class="left" /></a>
                    <h4>james doe</h4>
                    <p>vitae magna eget odio amet mollis justo facilisis amet quis. sed sagittis consequat.</p>
                </li>
            </ul>
        </section>

        <section>
            <h2>how about some links?</h2>
            <div>
                <div class="row">
                    <div class="col-6 col-12-small">
                        <ul class="link-list">
                            <li><a href="#">sed neque nisi consequat</a></li>
                            <li><a href="#">dapibus sed mattis blandit</a></li>
                            <li><a href="#">quis accumsan lorem</a></li>
                            <li><a href="#">suspendisse varius ipsum</a></li>
                            <li><a href="#">eget et amet consequat</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-12-small">
                        <ul class="link-list">
                            <li><a href="#">quis accumsan lorem</a></li>
                            <li><a href="#">sed neque nisi consequat</a></li>
                            <li><a href="#">eget et amet consequat</a></li>
                            <li><a href="#">dapibus sed mattis blandit</a></li>
                            <li><a href="#">vitae magna sed dolore</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <section>
        <h2>two column #2 (left-hand sidebar)</h2>
        <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. aenean ante ante, viverra a ornare sed, convallis sed est. proin felis sapien, adipiscing quis eleifend vel, sodales vitae sapien. donec vel lacus leo, eu convallis metus. cras egestas feugiat tortor, vitae interdum augue aliquam a. sed nec augue id orci egestas commodo in eget magna. nunc eleifend diam non odio laoreet placerat gravida nulla bibendum. phasellus tempus imperdiet suscipit.</p>
        <p>mauris risus nulla, pulvinar vitae sagittis a, pharetra nec tellus. suspendisse varius enim ac felis mattis aliquam. aenean et justo quis ipsum gravida lacinia. lorem ipsum dolor sit amet, consectetur adipiscing elit. donec lacinia bibendum cursus. nullam nec pellentesque lacus. in porta erat in tortor rhoncus quis accumsan magna pretium. nulla posuere magna eget mauris lacinia in mollis sem fermentum. donec mollis adipiscing mauris, ut posuere enim rhoncus ut. nunc commodo vestibulum orci vel placerat. cras sed risus libero. donec ac lacus vitae lectus mattis commodo id vitae libero. etiam lorem odio, volutpat nec pulvinar sit amet, tincidunt ut lacus. pellentesque consequat arcu vel nisi lobortis in pellentesque orci sollicitudin. cras gravida lacus turpis, consectetur porttitor lectus. cras malesuada tortor id neque porta ut semper quam iaculis.</p>
        <p>nulla ut tortor quam, a luctus nunc. nulla condimentum diam porttitor arcu placerat tincidunt. nunc non augue ipsum. nulla facilisi. phasellus feugiat augue in ipsum egestas semper. suspendisse blandit, nisl ullamcorper blandit sollicitudin, sem leo auctor lectus, et volutpat mauris elit et odio. ut elementum risus in metus mollis tristique vulputate nulla interdum. lorem ipsum dolor sit amet, consectetur adipiscing elit. duis vitae orci dui, ut facilisis dui.</p>
    </section>*@


