@model IEnumerable<PS5Proj.WEB_MVC.Models.GameMVC>

<div class="d-flex align-content-center flex-wrap">
    @foreach (var i in Model)
    {
        <div class="card" style="width: 20rem;">
            <img src="@i.Img" width="250" height="250" class="img-responsive" alt="@i.GameName">
            <div class="card-body">
                <h5 class="card-title">@i.GameName</h5>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2">
                    <a class="btn btn-primary stretched-link" href="~/Main/Index" role="button">Подробнее</a>
                </div>
            </div>
        </div>
    }
</div>