@model IEnumerable<PS5Proj.WEB_MVC.Models.GameMVC>


<centr><h3>Список игр:</h3></centr>
<div class="row align-items-start">
    <div class="col">
        <img src ="https://ps5-gm.by/wp-content/uploads/2021/10/far-cry-6-dani-male-01.jpg" width="350" height="350" href="@Url.Action("Index", "Game")"/>
    </div>
    <div class="col">
        <img src="https://ps5-gm.by/wp-content/uploads/2021/10/far-cry-6-dani-male-01.jpg" width="350" height="350" href="@Url.Action(" Index", "Game" )" />
    </div>
</div>
<div class="row align-items-end">
    <div class="col">
        <img src="https://ps5-gm.by/wp-content/uploads/2021/10/far-cry-6-dani-male-01.jpg" width="350" height="350" href="@Url.Action(" Index", "Game" )" />
    </div>
    <div class="col">
        <img src="https://ps5-gm.by/wp-content/uploads/2021/10/far-cry-6-dani-male-01.jpg" width="350" height="350" href="@Url.Action(" Index", "Game" )" />
    </div>
</div>

