@model GameMVC

<section>
    <h2>@Model.GameName</h2>
    <ul class="small-image-list">
        <li>
            <a href="#"><img src="@Model.Img" /></a>
            <p>@Model.GameGenre</p>
            <p>@Model.ReleaseDate</p>
            <h4><a href="~/Main/Update/@Model.Id">Изменить</a></h4>
            @*<a class="btn btn-primary stretched-link" href="~/Game/Info?=@i.GameName" role="button">Добавить в избранное</a>*@
        </li>
    </ul>
</section>



