@model UserViewModel
    
@{
}
<h1>Users</h1>
@foreach (var users in Model.Users)
            {
                <p> sxsxs @user.Name - @User.Age</p>
            }

<form method="post" action="~/User/Add">
    <input type="text" name="@nameof(UserViewModel.Name)" />
    <input type="number" name="@nameof(UserViewModel.Age)" />
    <p><input type="submit" value="Отправить" /></p>
</form>