@model UserMVC

    <a asp-action="Logout" asp-controller="Account">Выйти</a>

<section>
    <h2>@Model.UserLogin</h2>
    <ul class="small-image-list">
        <li>
            <p>Имя: @Model.UserName</p>
            <p>Любимая игра: @Model.FavoriteGame</p>
            @if (Model.IsAdminPs)
            {
                <h2>admin</h2>
            }

        </li>
    </ul>
</section>