@model UserMVC

<a asp-action="Logout" asp-controller="Account">Выйти</a>


<section>
    <h2>@Model.UserLogin</h2>
    <ul class="small-image-list">
        <li>
            <p>Имя: @Model.UserName</p>
            <p>Любимая игра: @Model.FavoriteGame</p>
            <p>Баланс: @String.Format("{0:C}", Model.Balance).ToString()</p>

        </li>
    </ul>
</section>

<section>
    <h4><a href="~/Account/TopUpBalance/@Model.Id">Пополнить баланс</a></h4>
</section>
