<div>
    <h3>Пополнение счёта</h3>
    <form method="post">
        <input type="hidden" value="@ViewBag.UserId" name="UserId" />
        <table>
            <tr>
                <td>Введите сумму пополнения:</td>
                <td><input type="number" name="Cost" /> </td>
            </tr>
            <tr><td><input type="submit" value="Пополнить" /> </td><td></td></tr>
        </table>
    </form>
</div>